@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #041316;
    --background: #eefafc;
    --primary: #126b73;
    --secondary: #e572e9;
    --accent: #cf2063;
  }
  .dark {
    --text: #e7f8fb;
    --background: #031012;
    --primary: #8be5ed;
    --secondary: #87168b;
    --accent: #df3073;
  }
}

body {
  font-family: "Work Sans", sans-serif;
}
